<div class="bg-light text-center d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="container">
        <h1 class="display-1 fw-bold text-danger">404</h1>
        <p class="lead">Oops! The page you are looking for does not exist.</p>
        <a href="/" class="btn btn-primary btn-lg">Go Back Home</a>
    </div>
</div>