
    <!-- Form Contact -->
    <div class="container mt-5  w-50 p-3">
      <h2 class="text-center">Send me Message</h2>
      <div class="container w-50  p-3">
        <div class="mb-3">
          <label for="nameInput" class="form-label fw-semibold fs-5"
            >Name</label
          >
          <input
            type="text"
            class="form-control"
            id="nameInput"
            placeholder="Name"
          />
        </div>
        <div class="mb-3">
          <label for="emailInput" class="form-label fw-semibold fs-5"
            >Email</label
          >
          <input
            type="email"
            class="form-control"
            id="emailInput"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="nameInput" class="form-label fw-semibold fs-5"
            >Phone Number</label
          >
          <input
            type="number"
            class="form-control"
            id="phoneNumberInput"
            placeholder="Phone Number"
          />
        </div>
        <div class="mb-3">
          <label for="subjetInput" class="form-label fw-semibold fs-5"
            >Subject</label
          >
          <input
            type="text"
            class="form-control"
            id="subjectInput"
            placeholder="Subject"
          />
        </div>
        <div class="mb-3">
          <label for="skillInput" class="form-label fw-semibold fs-5"
            >Skill</label
          >
          <select class="form-select" id="skillInput">
            <option value="frontend">Frontend</option>
            <option value="Backend">Backend</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="messageInput" class="form-label fw-semibold fs-5"
            >Message</label
          >
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="messageInput"
            style="height: 100px"
          ></textarea>
        </div>
        <div class="text-end">
          <a href="#" class="btn btn-primary">Send Message</a>
        </div>
      </div>
    </div>