<!-- Detail Project -->
<div class="container p-2 bg-body-secondary rounded shadow-lg mt-5">
  <div class="d-flex justify-content-between">
    <div>
      <img  class="rounded" src="../assets/img/photo.webp" alt="img-project" style="width: 25rem" />
    </div>
    <div class="p-2 flex-grow-1">
      <p class="fs-1">{{project.name}}</p>
      <p>Duration : 3 Months</p>
      <p>
        {{project.description}}
      </p>

      <div class="d-flex mb-3 fs-2">
        {{#each project.stack}}
          <i class="lni lni-{{this}}"></i>
        {{/each}}
      </div>
    </div>
  </div>
</div>