
    <!-- Container Profile -->
    <div class="container m-auto mt-5 shadow-lg bg-body-secondary rounded">
      <div class="d-flex p-3 gap-3">
        <div class="w-100 p-3">
          <h1>Hi, Welcome to my Hut</h1>
          <p class="fs-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure
            minima aperiam cupiditate asperiores sit id incidunt optio odio sunt
            corporis. Cum, tenetur minus amet debitis dolor corporis repudiandae
            a consequatur. Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Iure minima aperiam cupiditate asperiores sit id incidunt
            optio odio sunt corporis. Cum, tenetur minus amet debitis dolor
            corporis repudiandae a consequatur. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Iure minima aperiam cupiditate
            asperiores sit id incidunt optio odio sunt corporis. Cum, tenetur
            minus amet debitis dolor corporis repudiandae a consequatur.
          </p>
          <div class="d-flex gap-3">
            <a class="btn btn-primary" href="/contact">Contact Me</a>
            <a class="btn btn-outline-secondary" href="#"
              >Download CV <i class="lni lni-download-1"></i>
            </a>
          </div>
          <div class="d-flex fs-3 gap-3 mt-3">
            <a
              href="https://www.instagram.com/vian66666"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="lni lni-instagram icons"></i>
            </a>
            <a
              href="https://www.facebook.com/alfiandirizkii"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="lni lni-facebook icons"></i>
            </a>
            <a
              href="https://www.github.com/alfiandirizki"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="lni lni-github icons"></i>
            </a>
          </div>
        </div>

        <div class="card shadow-lg" style="width: 24rem">
          <img src="assets/img/photo.webp" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text text-center fw-semibold fs-5">
              Muhammad Alfiandi Rizki
            </p>
            <p class="card-text text-center">Full Stack Developer</p>
          </div>
        </div>
      </div>
    </div>

